body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:462px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u398 {
  position:absolute;
  left:40px;
  top:40px;
  width:422px;
  height:829px;
}
#u399 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u400 {
  position:absolute;
  left:361px;
  top:121px;
  width:1px;
  height:16px;
}
#u401 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u402 {
  position:absolute;
  left:61px;
  top:107px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u403 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u404 {
  position:absolute;
  left:168px;
  top:140px;
  width:162px;
  height:18px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u405 {
  position:absolute;
  left:2px;
  top:-2px;
  width:158px;
  word-wrap:break-word;
}
#u406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u406 {
  position:absolute;
  left:61px;
  top:107px;
  width:375px;
  height:20px;
}
#u407 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u408 {
  position:absolute;
  left:61px;
  top:170px;
  width:375px;
  height:1px;
}
#u409 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u410 {
  position:absolute;
  left:75px;
  top:139px;
  width:12px;
  height:20px;
}
#u411 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:154px;
  background:inherit;
  background-color:rgba(191, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u412 {
  position:absolute;
  left:84px;
  top:228px;
  width:329px;
  height:154px;
}
#u413 {
  position:absolute;
  left:2px;
  top:69px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u414 {
  position:absolute;
  left:84px;
  top:198px;
  width:140px;
  height:26px;
  font-size:18px;
}
#u415 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u416 {
  position:absolute;
  left:84px;
  top:278px;
  width:329px;
  height:1px;
}
#u417 {
  position:absolute;
  left:2px;
  top:-8px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:24px;
  background:inherit;
  background-color:rgba(191, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u418 {
  position:absolute;
  left:99px;
  top:243px;
  width:125px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u419 {
  position:absolute;
  left:2px;
  top:1px;
  width:121px;
  word-wrap:break-word;
}
#u420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:24px;
  background:inherit;
  background-color:rgba(191, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u420 {
  position:absolute;
  left:99px;
  top:292px;
  width:125px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u421 {
  position:absolute;
  left:2px;
  top:1px;
  width:121px;
  word-wrap:break-word;
}
#u422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:24px;
  background:inherit;
  background-color:rgba(191, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u422 {
  position:absolute;
  left:234px;
  top:243px;
  width:153px;
  height:24px;
  font-size:16px;
  text-align:right;
}
#u423 {
  position:absolute;
  left:2px;
  top:2px;
  width:149px;
  word-wrap:break-word;
}
#u424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:24px;
  background:inherit;
  background-color:rgba(191, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u424 {
  position:absolute;
  left:234px;
  top:292px;
  width:153px;
  height:24px;
  font-size:16px;
  text-align:right;
}
#u425 {
  position:absolute;
  left:2px;
  top:2px;
  width:149px;
  word-wrap:break-word;
}
#u426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:307px;
  background:inherit;
  background-color:rgba(191, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u426 {
  position:absolute;
  left:84px;
  top:461px;
  width:329px;
  height:307px;
}
#u427 {
  position:absolute;
  left:2px;
  top:146px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u428 {
  position:absolute;
  left:84px;
  top:430px;
  width:140px;
  height:26px;
  font-size:18px;
}
#u429 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u430 {
  position:absolute;
  left:84px;
  top:508px;
  width:329px;
  height:1px;
}
#u431 {
  position:absolute;
  left:2px;
  top:-8px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:24px;
  background:inherit;
  background-color:rgba(191, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u432 {
  position:absolute;
  left:99px;
  top:474px;
  width:125px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u433 {
  position:absolute;
  left:2px;
  top:1px;
  width:121px;
  word-wrap:break-word;
}
#u434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u434 {
  position:absolute;
  left:84px;
  top:552px;
  width:329px;
  height:1px;
}
#u435 {
  position:absolute;
  left:2px;
  top:-8px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:24px;
  background:inherit;
  background-color:rgba(191, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u436 {
  position:absolute;
  left:99px;
  top:519px;
  width:125px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u437 {
  position:absolute;
  left:2px;
  top:1px;
  width:121px;
  word-wrap:break-word;
}
#u438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:24px;
  background:inherit;
  background-color:rgba(191, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u438 {
  position:absolute;
  left:234px;
  top:474px;
  width:153px;
  height:24px;
  font-size:16px;
  text-align:right;
}
#u439 {
  position:absolute;
  left:2px;
  top:2px;
  width:149px;
  word-wrap:break-word;
}
#u440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:24px;
  background:inherit;
  background-color:rgba(191, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u440 {
  position:absolute;
  left:234px;
  top:519px;
  width:153px;
  height:24px;
  font-size:16px;
  text-align:right;
}
#u441 {
  position:absolute;
  left:2px;
  top:2px;
  width:149px;
  word-wrap:break-word;
}
#u442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u442 {
  position:absolute;
  left:85px;
  top:649px;
  width:329px;
  height:1px;
}
#u443 {
  position:absolute;
  left:2px;
  top:-8px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:24px;
  background:inherit;
  background-color:rgba(191, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u444 {
  position:absolute;
  left:99px;
  top:563px;
  width:125px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u445 {
  position:absolute;
  left:2px;
  top:1px;
  width:121px;
  word-wrap:break-word;
}
#u446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:24px;
  background:inherit;
  background-color:rgba(191, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u446 {
  position:absolute;
  left:234px;
  top:563px;
  width:153px;
  height:24px;
  font-size:16px;
  text-align:right;
}
#u447 {
  position:absolute;
  left:2px;
  top:2px;
  width:149px;
  word-wrap:break-word;
}
#u448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u448 {
  position:absolute;
  left:84px;
  top:599px;
  width:329px;
  height:1px;
}
#u449 {
  position:absolute;
  left:2px;
  top:-8px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:24px;
  background:inherit;
  background-color:rgba(191, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u450 {
  position:absolute;
  left:99px;
  top:613px;
  width:125px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u451 {
  position:absolute;
  left:2px;
  top:1px;
  width:121px;
  word-wrap:break-word;
}
#u452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:24px;
  background:inherit;
  background-color:rgba(191, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u452 {
  position:absolute;
  left:308px;
  top:613px;
  width:79px;
  height:24px;
  font-size:16px;
  text-align:right;
}
#u453 {
  position:absolute;
  left:2px;
  top:2px;
  width:75px;
  word-wrap:break-word;
}
#u454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:202px;
  background:inherit;
  background-color:rgba(164, 181, 191, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u454 {
  position:absolute;
  left:61px;
  top:574px;
  width:375px;
  height:202px;
}
#u455 {
  position:absolute;
  left:2px;
  top:93px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u456 {
  position:absolute;
  left:118px;
  top:717px;
  width:250px;
  height:40px;
  font-size:18px;
  color:#FFFFFF;
}
#u457 {
  position:absolute;
  left:2px;
  top:9px;
  width:246px;
  word-wrap:break-word;
}
#u458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u458 {
  position:absolute;
  left:83px;
  top:595px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u459 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u460 {
  position:absolute;
  left:83px;
  top:635px;
  width:81px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u461 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u462 {
  position:absolute;
  left:82px;
  top:674px;
  width:81px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u463 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u464 {
  position:absolute;
  left:173px;
  top:664px;
  width:40px;
  height:40px;
}
#u465 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u466 {
  position:absolute;
  left:223px;
  top:664px;
  width:40px;
  height:40px;
}
#u467 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u468 {
  position:absolute;
  left:273px;
  top:664px;
  width:40px;
  height:40px;
}
#u469 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u470 {
  position:absolute;
  left:323px;
  top:664px;
  width:40px;
  height:40px;
}
#u471 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u472 {
  position:absolute;
  left:373px;
  top:664px;
  width:40px;
  height:40px;
}
#u473 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u474 {
  position:absolute;
  left:173px;
  top:624px;
  width:40px;
  height:40px;
}
#u475 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u476 {
  position:absolute;
  left:223px;
  top:624px;
  width:40px;
  height:40px;
}
#u477 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u478 {
  position:absolute;
  left:273px;
  top:624px;
  width:40px;
  height:40px;
}
#u479 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u480 {
  position:absolute;
  left:323px;
  top:624px;
  width:40px;
  height:40px;
}
#u481 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u482 {
  position:absolute;
  left:373px;
  top:624px;
  width:40px;
  height:40px;
}
#u483 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u484 {
  position:absolute;
  left:173px;
  top:584px;
  width:40px;
  height:40px;
}
#u485 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u486 {
  position:absolute;
  left:223px;
  top:584px;
  width:40px;
  height:40px;
}
#u487 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u488 {
  position:absolute;
  left:273px;
  top:584px;
  width:40px;
  height:40px;
}
#u489 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u490 {
  position:absolute;
  left:323px;
  top:584px;
  width:40px;
  height:40px;
}
#u491 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u492 {
  position:absolute;
  left:373px;
  top:584px;
  width:40px;
  height:40px;
}
#u493 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u494 {
  position:absolute;
  left:84px;
  top:326px;
  width:329px;
  height:1px;
}
#u495 {
  position:absolute;
  left:2px;
  top:-8px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:24px;
  background:inherit;
  background-color:rgba(191, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u496 {
  position:absolute;
  left:99px;
  top:340px;
  width:125px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u497 {
  position:absolute;
  left:2px;
  top:1px;
  width:121px;
  word-wrap:break-word;
}
#u498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:24px;
  background:inherit;
  background-color:rgba(191, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:right;
}
#u498 {
  position:absolute;
  left:262px;
  top:335px;
  width:125px;
  height:24px;
  font-size:18px;
  text-align:right;
}
#u499 {
  position:absolute;
  left:2px;
  top:1px;
  width:121px;
  word-wrap:break-word;
}
#u500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:18px;
  background:inherit;
  background-color:rgba(191, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u500 {
  position:absolute;
  left:236px;
  top:358px;
  width:151px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u501 {
  position:absolute;
  left:2px;
  top:1px;
  width:147px;
  word-wrap:break-word;
}
